<ion-content [fullscreen]="true">
  <div id="canvasContainer"></div>
  <ion-grid class="sketch-home__container">
    <ion-row class="ion-justify-content-center sketch-home__name-container">
      <div class="sketch-home__logo">
        <img src="assets/icons/edit.png" height="48" alt="Edit" />
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      &nbsp;
      <h1 class="sketch-home__app-name">
        Sketch
      </h1>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="login()" class="sketch-home__login" color="primary">
        Login
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
